#include <D2RLPlugin/resource.h>
#include <D2RLPlugin/version.h>

D2RL_PLUGIN_MANIFEST_RESOURCE_ID RCDATA { D2RL_PLUGIN_RESOURCE_DWORD(D2RL_PLUGIN_ABI_VERSION) }

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "CelestialRayOne"
      VALUE "FileDescription", "Stance Dance: a Controls key that cycles the ascendancy stance stat 1, 2, 3."
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "celestialrayone.stance-dance"
      VALUE "OriginalFilename", "d2rl-celestialrayone-stance-dance.dll"
      VALUE "ProductName", "Stance Dance"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
